<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">ARGOMarked</a>

    <!-- Collapsible navbar button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#CollapsibleNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="CollapsibleNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="home" class="nav-link" routerLinkActive="disabled">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="categories" class="nav-link" routerLinkActive="disabled">Categories</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link">Messages</a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>